
<f:switch expression="{data.tx_mask_stepper_variation}">
    <f:case value="stepper-group--icon">
        <f:render partial="Stepper/StepperGroupIcon" arguments="{_all}" />
    </f:case>
    <f:case value="stepper-group--vertical">
        <f:render partial="Stepper/StepperGroupVertical" arguments="{_all}" />
    </f:case>
    <f:case value="stepper-group--vertical-combo">
        <f:render partial="Stepper/StepperGroupVerticalCombo" arguments="{_all}" />
    </f:case>    
    <f:defaultCase>
        <f:render partial="Stepper/Stepper" arguments="{_all}" />
    </f:defaultCase>
</f:switch>