<f:asset.css identifier="c-{data.uid}" priority="true">
	<f:if condition="{data.image}">
		.image-parallax-{data.uid} {
			padding: {data.tx_mask_map_height}px 0;
		}
	</f:if>
</f:asset.css>

<section id="c{data.uid}" class="content-section{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
	<f:for each="{data.image}" as="file">
		<div class="image-parallax image-parallax-{data.uid}{f:if(condition: '{data.tx_mask_hero_variation} == default', else: ' {data.tx_mask_hero_variation}')}{f:if(condition: '{data.tx_mask_rounded_edge}', then: ' rounded-10')}" style="background-image: url('{f:uri.image(image:file)}')"></div>
	</f:for>
</section>