/***************************************
Hero Masonry
***************************************/
.hero-masonry-grid--css {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
  grid-auto-rows: auto;
  gap: 10px;

  .hero-masonry-item {
    width: auto;
  }

  .hero-masonry-teaser--small {
    grid-row: span 1;
    grid-column: span 1;
  }

  .hero-masonry-teaser--medium {
    grid-row: span 2;
    grid-column: span 2;
    order: -1;

    @include media-breakpoint-up(lg) {
      order: inherit;
    }
  }

  .hero-masonry-teaser--large {
    grid-row: span 2;
    grid-column: span 2;
    order: -1;

    @include media-breakpoint-up(md) {
      grid-column: span 4;
    }

    @include media-breakpoint-up(lg) {
      grid-column: span 3;
    }

    @include media-breakpoint-up(xl) {
      order: inherit;
    }
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 20px), 1fr));
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(auto-fill, minmax(calc(16.66666667% - 20px), 1fr));
  }
}

.hero-masonry-teaser {
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }

  &:hover {
    .hero-masonry-teaser__content {
      opacity: 0;
      visibility: hidden;
    }

    .hero-masonry-teaser__media{
      &__link {
        opacity: 1;
      }
    }
  }
}

.hero-masonry-teaser__media {
  color: $white;
  position: relative;

  .play-button {
    bottom: 12px;
    color: $white;
    height: auto;
    left: auto;
    position: absolute;
    right: 10px;
    top: auto;
    width: auto;

    &:hover {
      color: $text-color;
    }
  }

  p {
    margin-bottom: 0;
  }

  video {
    object-fit: cover;
  }

  .video-element {
    background-color: $gray-color;
  }

  .carousel-autoplay__item {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 1s ease 0s;
    visibility: hidden;
    width: 100%;

    &.carousel-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__link {
    align-items: flex-start;
    background: transparent linear-gradient(180deg, rgba(255,255,255,0.01) 0%, rgba(184, 184, 184, 0.2) 29%, rgb(33, 33, 33, 0.8) 100%) 0% 0% no-repeat padding-box;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: flex-end;
    margin-top: auto;
    opacity: 0;
    padding: 20px 20px 14px;
    position: absolute;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;

    .hero-masonry-teaser--medium & {
      opacity: 1;
      padding: 11px;
    }
  }
}

.hero-masonry-teaser__content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  left: 0;
  opacity: 1;
  padding: 20px 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out 0s;
  visibility: visible;
  width: 100%;

  p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    font-weight: $medium-weight;
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 24px;
    padding-top: 17px;
    position: relative;
    text-overflow: ellipsis;

    &::before {
      background-color: currentColor;
      content: '';
      height: 28px;
      left: 0;
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjcuMDc3IDI3LjA1NyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xNS4yMyAwbC0yLjEyMyA5LjJMOS4wMzIuNjUzIDYuNDU0IDEuODgybDQuMDY0IDguNTE4TDIuMDEgNi4yNTIuNzU5IDguODE4bDguNDgyIDQuMTM3TC4wMDEgMTVsLjYxOCAyLjc4OCA5LjIxNC0yLjA0My01Ljk1NyA3LjM2IDIuMjE5IDEuOCA1Ljk0LTcuMzM1LS4wODMgOS40NjUgMi44NTUuMDI1LjA4My0xMi4wODVoMTIuMTg3di0yLjg1OGgtOS40MzhsNy40MDgtNS44OTItMS43NzgtMi4yMzUtNy4zODYgNS44NzVMMTguMDEyLjY0MnoiLz48L3N2Zz4=');
      mask-position: center center;
      mask-repeat: no-repeat;
      mask-size: auto;
      position: absolute;
      top: 0;
      width: 28px;
    }
  }

  &.bg-light-green {
    color: $blue-color;
  }

  &.bg-pink {
    color: $primary-color;
  }

  @include media-breakpoint-up(xl) {
    padding: 30px 19px 30px 22px;
  }
}