<f:switch expression="{data.tx_mask_testimonial_variation}">
    <f:case value="image-below">
        <f:render partial="Testimonial/ImageBelow" arguments="{_all}" />
    </f:case>
    <f:case value="image-top">
        <f:render partial="Testimonial/ImageTop" arguments="{_all}" />
    </f:case>
    <f:case value="threecolumn">
        <f:render partial="Testimonial/ThreeColumn" arguments="{_all}" />
    </f:case>
    <f:case value="threecolumn-shadow">
        <f:render partial="Testimonial/ThreeColumnShadow" arguments="{_all}" />
    </f:case>
    <f:case value="threecolumn-shadow-small">
        <f:render partial="Testimonial/ThreeColumnShadow" arguments="{_all}" />
    </f:case>
    <f:case value="modern">
        <f:render partial="Testimonial/Modern" arguments="{_all}" />
    </f:case>
</f:switch>