.testimonial-section {
  padding: 4rem 0;

  &.testimonial-section--small-slider {
    padding: 2rem 0 0;
  }
  
  @include mq($from: l) {
    padding: 6rem 0;
    
    .flickity-prev-next-button {
      height: 4rem;
      width: 4rem;
    }

    &.testimonial-section--small-slider {
      padding: 5rem 0 2rem;
    }
  }

  .static-star--rating {
    margin-bottom: 1rem;
  }

  &.testimonial-section--teaser-slider {
    padding: 2rem 0;

    &.bg--primary {
      .flickity-button {
        &::after {
          background-color: $color-primary;
        }
      }
    }

    &.bg--secondary {
      .flickity-button {
        &::after {
          background-color: $color-secondary;
        }
      }
    }

    &.bg--dark {
      .flickity-button {
        &::after {
          background-color: $color-dark;
        }
      }

      .flickity-page-dots {
        .flickity-page-dot {
          border: 1px solid $white;

          &.is-selected {
            background-color: $white;
          }
        }
      }
    }

    &.bg--gray {
      .flickity-button { 
        &::after {
          background-color: $color-gray;
        }
      }
    }

    &.bg--gray .flickity-prev-next-button,
    &.bg--dark .flickity-prev-next-button,
    &.bg--secondary .flickity-prev-next-button,
    &.bg--primary .flickity-prev-next-button {
      background-color: transparent;
      border: 0;

      @include mq($from: l) {
        background-color: $white;
        box-shadow: 0 0 5px $color-gray-medium;
      }

      &::after {
        height: 60%;
        vertical-align: middle;
        width: 60%;
      }
    }
  }

  &.testimonial-section--slider {
    padding-left: 15px;
    padding-right: 15px;

    &.with-arrow {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    &.with-dots {
      padding-bottom: 7rem;
      padding-top: 3rem;

      .testimonial-section__item {
        margin-bottom: 2rem;
      }

      .flickity-page-dots {
        bottom: -35px;
      }

      @include mq($from: l) {
        padding-top: 6rem;
      }
    }

    &.bg--gray .flickity-prev-next-button,
    &.bg--dark .flickity-prev-next-button,
    &.bg--secondary .flickity-prev-next-button,
    &.bg--primary .flickity-prev-next-button {
      background-color: transparent;
      border: 0;
      
      @include mq($from: l) {
        background-color: $white;
        box-shadow: 0 0 5px $color-gray-medium;
      }
    }

    .flickity-prev-next-button {
      &.previous {
        left: -40px;
      }

      &.next {
        right: -40px;
      }
    }

    &.bg--primary {
      .flickity-prev-next-button::after {
        background-color: $color-primary;
      }
    }

    &.bg--secondary {
      .flickity-prev-next-button::after {
        background-color: $color-secondary;
      }
    }

    &.bg--dark {
      .flickity-prev-next-button::after {
        background-color: $white;
        
        @include mq($from: l) {
          background-color: $color-dark;
        }
      }
    }

    &.bg--gray {
      .bg--overlay {
        backdrop-filter: none;
        background-color: $white;
      }

      .flickity-prev-next-button::after {
        background-color: $color-gray;
      }
    }

    &.text--dark.bg--secondary .flickity-prev-next-button {
      background-color: $color-dark;
    }

    .testimonial-section__item-icon {
      font-size: 5rem;
    }

    .testimonial-section__item-author {
      flex-direction: column;
      text-align: center;

      .testimonial-section__author-image {
        margin-bottom: 2rem;
        margin-right: 0;
      }

      @include mq($from: s) {
        flex-direction: row;
        text-align: left;

        .testimonial-section__author-image {
          margin-bottom: 0;
          margin-right: 1.6rem;
        }
      } 
    }

    .testimonial-section__item {
      border-radius: 4px;
    }

    .testimonial-teaser {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }
  }      
}

.slider,
.testimonial-section {
  &.text--light * {
    color: $white;
  }

  &.text--dark * {
    color: $color-dark;
  }

  &.text--gray * {
    color: $color-gray-xlight;
  }

  &.text-white * {
    color: $white;
  }

  &.text--primary * {
    color: $color-primary;
  }

  &.text--secondary * {
    color: $color-secondary;
  }
}

.testimonial-section__author-headline {
  color: $color-text;

  .testimonial-section__teaser-slider & {
    margin-bottom: 0.5rem;

    @include mq($from: m) {
      margin-bottom: 1rem;
    }
  }

  .testimonial-section__small-slider & {
    margin-bottom: 0.5rem;
    @include mq($from: m) {
      margin-bottom: 1rem;
    }
  }

  .headline--4 {
    margin-bottom: 0;
  }
}

.testimonial-section__item-text {
  color: $color-gray-medium;
  margin-bottom: 3.5rem;

  .testimonial-section__teaser-slider & {
    margin-bottom: 0;
  }

  .testimonial-section__small-slider & {
    margin-bottom: 0.6rem;

    @include mq($from: l) {
      margin-bottom: 2rem;
    }
  }
}

.testimonial-section__headline {
  color: $color-text;
  margin-bottom: 0.5rem;
  text-align: center;

  .headline {
    display: inline-block;
  }
}

.testimonial-section__text {
  color: $color-text;
  text-align: center;
}

.testimonial-section__items {
  .testimonial-section--small-slider & {
    @include mq($from: m) {
      padding: 0 2rem;
    }

    @include mq($from: xl) {
      padding: 0 8.5rem;
    }
  }
}

.flickity-viewport {
  transition: all 0.3s ease 0s;
}

.testimonial-section__item {
  width: 100%;

  .testimonial-section--primary & {
    background-color: $white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.11);
    margin-bottom: 1rem;
    position: absolute;

    @include mq($from: m) {
      width: 100%;
    }

    @include mq($from: l) {
      width: 80%;
    }

    @include mq($from: xxl) {
      width: 50%;
    }

    .testimonial-teaser {
      padding: 3rem;
      
      .testimonial-section__item-author {
        gap: 2rem;
        }
        
        @include mq($from: m) {
        padding: 5rem;
      }
    }

    +.testimonial-section__item {
      margin-left: 4rem;
    }
  }

  .testimonial-section--teaser-slider &,
  .testimonial-section--small-slider & {
    max-width: 100%;
    padding: 20px 15px;

    @include mq($from: m) {
      max-width: 50%;
    }

    @include mq($from: l) {
      max-width: 33.33%;
    }
  }

  .testimonial-section--small-slider & {
    margin: 20px 0;
  }

  .testimonial-section__text-slider &,
  .testimonial-section__teaser-slider & {
    text-align: center;
  }
}

.testimonial-section__item-author {
  align-items: center;
  display: flex;

  .testimonial-section__teaser-slider &,
  .testimonial-section__text-slider &,
  .testimonial-section__small-slider & {
    flex-direction: column;
  }

  .testimonial-section__small-slider & {
    align-items: flex-start;
    margin-top: -5rem;
    width: 100%;

    @include mq($from: l) {
      margin-top: -6rem;
    }
  }
}

.testimonial-section__author-image {
  border-radius: 50%;
  flex: 0 0 8rem;
  height: 8rem;
  max-width: 8rem;
  overflow: hidden;
  width: 8rem;

  .testimonial-section__teaser-slider &,
  .testimonial-section__small-slider & {
    margin-bottom: 2.5rem;
    margin-right: 0;

    @include mq($from: m) {
      margin-bottom: 3rem;
    }
  }

  .testimonial-section__slider & {
    margin-right: 1.6rem;
  }
}

.testimonial-section__item-content {
  flex: 0 0 calc(100% - 5rem);
  max-width: calc(100% - 5rem);

  @include mq($from: m) {
    flex: 0 0 calc(100% - 6rem);
    max-width: calc(100% - 6rem);
  }

  @include mq($from: l) {
    flex: 0 0 calc(100% - 7.8rem);
    max-width: calc(100% - 7.8rem);
  }
}

.testimonial-section__author-text {
  color: $black;
  margin-top: 0.4rem;
  text-transform: uppercase;
}

.testimonial-section__item-icon {
  .testimonial-section__primary & {
    left: 1rem;
    position: absolute;
    top: -2.5rem;

    @include mq($from: m) {
      left: 1.5rem;
      top: -3.3rem;
    }
  }

  .testimonial-section__slider & {
    line-height: 0;
    margin-bottom: 0;
  }
}

.testimonial-section__primary {
  padding: 0 15px;

  @include mq($from: l) {
    padding: 0;
  }

  .flickity-page-dots {
    padding-bottom: 0.5rem;
  }
}

.testimonial-section__text-slider {
  .testimonial-section__item {
    margin-right: 3rem;
    text-align: center;
    width: 100%;
    
    @include mq($from: l) {
      margin-right: 5rem;
    } 
  }

  .testimonial-section__item-text {
    width: 100%;
  }

  .testimonial-section__item-author {
    margin: 1.5rem 0;

    @include mq($from: m) {
      margin: 2.5rem 0 1.8rem;
    }
  }

  .testimonial-section__item-content {
    margin-top: 1rem;

    @include mq($from: m) {
      margin-top: 1.5rem;
    }

    @include mq($from: l) {
      margin-top: 1.8rem;
    }
  }
}

.testimonial-section--text-slider {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
  width: 100%;

  .custom-carousel .flickity-prev-next-button {
    height: 4rem;
    left: -45px;
    width: 4rem;

    &.next {
      left: auto;
      right: -45px;
    }

    &::after {
      // background-color: $white;
    }
  }

  .text--dark & {
    .custom-carousel .flickity-prev-next-button {
      border: 0;
      box-shadow: 0 0 5px $color-gray-medium;
    }


    .flickity-page-dots .flickity-page-dot {
      background-color: transparent;
      border: solid 1px $color-dark;

      &.is-selected {
        background-color: $color-dark;
      }
    }

    .flickity-prev-next-button {
      background-color: $color-dark;
      border: 1px solid $color-dark;

      &::after {
        background-color: $white;
      }
    }
  }

  .text--gray & {
    .flickity-page-dot {
      background-color: transparent;
      border: solid 1px $color-gray-xlight;
  
      &.is-selected {
        background-color: $color-gray-xlight;
      }
    }
  
    .flickity-prev-next-button {
      background-color: $color-gray-xlight;
      border: 1px solid $color-gray-xlight;
    }
  }

  .text--light & {
    .flickity-page-dot {
      background-color: transparent;
      border: solid 1px $color-light;
  
      &.is-selected {
        background-color: $color-light;
      }
    }
  
    .flickity-prev-next-button {
      background-color: $color-light;
      border: 1px solid $color-light;
    }
  }

  .text-black & {
    .flickity-page-dot {
      background-color: transparent;
      border: solid 1px $black;
  
      &.is-selected {
        background-color: $black;
      }
    }
  
    .flickity-prev-next-button {
      background-color: $black;
      border: 1px solid $black;
    }
  }

  .text-white & {
    .flickity-page-dot {
      background-color: transparent;
      border: solid 1px $white;
  
      &.is-selected {
        background-color: $white;
      }
    }
  
    .flickity-prev-next-button {
      background-color: $white;
      border: 1px solid $white;
    }
  }

  .text--secondary & {
    .flickity-page-dot {
      background-color: transparent;
      border: solid 1px $color-secondary;
  
      &.is-selected {
        background-color: $color-secondary;
      }
    }
  
    .flickity-prev-next-button {
      background-color: $color-secondary;
      border: 1px solid $color-secondary;
    }
  }

  @include mq($from: l) {
    max-width: calc(90%);
  }

  @include mq($from: xl) {
    max-width: calc(70%);
  }

  .testimonial-section__item-author {
    margin-bottom: 0;
  }

  .flickity-page-dots {
    bottom: -4rem;
    
    @include mq($from: l) {
      bottom: -5rem;
    }
  }
}

.with-dots {
  padding-bottom: 7rem;
  
  @include mq($from: l) {
    padding-bottom: 9rem;
  }

  &.testimonial-section.testimonial-section--teaser-slider {
    padding-bottom: 5rem;
  }
}

.with-arrow {
  padding: 0 5rem;

  @include mq($from: l) {
    padding: 0;
  }
}

.testimonial-section--slider {
  .testimonial-section__item {
    margin-right: 30px;
    max-width: calc(100% - 23px);

    @include mq($from: m) {
      max-width: calc(50% - 23px);
    }

    @include mq($from: l) {
      max-width: calc(33.33% - 23px);
    }
  }
}

.testimonial-teaser {
  .testimonial-section--small-slider &,
  .testimonial-section--teaser-slider & {
    background-color: $white;
    box-shadow: 0 12px 14px -5px rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 2.5rem;

    @include mq($from: l) {
      padding: 4rem 3rem;
    }
  }

  .testimonial-section--small-slider & {
    padding: 3rem;
  }
}

.text--light {
  .flickity-page-dot {
    background-color: transparent;
    border: solid 1px $white;

    &.is-selected {
      background-color: $white;
    }
  }

  .flickity-prev-next-button {
    background-color: transparent;
    border: 1px solid $white;
  }
}

.text--dark {
  .flickity-page-dot {
    background-color: transparent;
    border: solid 1px $color-dark;

    &.is-selected {
      background-color: $color-dark;
    }
  }

  .flickity-prev-next-button {
    background-color: $color-dark;
    border: 1px solid $white;
  }

  &.bg--primary {
    .flickity-prev-next-button {
      background-color: $color-primary;
    }

    .flickity-page-dot {
      border: solid 1px $color-light;
    }
  }

  &.bg--secondary {
    .flickity-prev-next-button {
      background-color: $color-secondary;
    }

    .flickity-page-dot {
      border: solid 1px $color-light;
    }
  }

  // &.testimonial-section--primary .flickity-page-dot.is-selected {
  //   background-color: $color-light;
  // }
}

.text--gray {
  .flickity-page-dot {
    background-color: transparent;
    border: solid 1px $color-primary;

    &.is-selected {
      background-color: $color-primary;
    }
  }

  .flickity-prev-next-button {
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }
}

.bg-dark {
  .flickity-page-dot {
    background-color: transparent;
    border: solid 1px $white;

    &.is-selected {
      background-color: $white;
    }
  }
}

.dark .slider__slider-content * {
  color: $white;
}

.testimonial-section--teaser-slider {
  &.bg--primary.text--dark .flickity-page-dot.is-selected,
  &.bg--secondary.text--dark .flickity-page-dot.is-selected {
    background-color: $color-light;
  }
}

.testimonial-section--small-slider {
  .flickity-page-dots {
    bottom: 0;
    
    @include mq($from: l) {
      bottom: -15px;
    }
  }

  .static-star--rating {
    margin-bottom: 2rem;
  }
    
  &.bg--gradient,
  &.bg--dark,
  &.bg--secondary,
  &.bg--primary {
    .flickity-page-dots {
      .flickity-page-dot {
        border-color: $white;

        &.is-selected {
          background-color: $white;
        }
      }
    }
  }

  &.with-dots {
    padding-bottom: 3rem;
    
    @include mq($from: l) {
      padding-bottom: 6rem;
    }
  }

  &.bg--gray,
  &.bg--dark,
  &.bg--secondary,
  &.bg--primary {
    .flickity-prev-next-button {
      background-color: transparent;
      border: 0;

      @include mq($from: m) {
        background-color: $white;
        box-shadow: 0 0 5px $color-gray-medium;
      }
    }
  }

  &.bg--primary {
    .flickity-prev-next-button::after {
      background-color: $color-primary;
    }
  }

  &.bg--secondary {
    .flickity-prev-next-button::after {
      background-color: $color-secondary;
    }
  }

  &.bg--dark {
    .flickity-prev-next-button::after {
      background-color: $color-dark;
    }
  }

  &.bg--gray {
    .flickity-prev-next-button::after {
      background-color: $color-gray;
    }
  }
}

.slider--icon-text {
  .flickity-prev-next-button::after {
    background-color: $white;
    mask-size: 15px;

    @include mq($from: m) {
      mask-size: 21px;
    }
  }

  .flickity-page-dots {
    bottom: -16px;
  }

  &.with-dots {
    padding-bottom: 4rem;

    .slider__slider-content {
      margin-bottom: 2rem;
    }
  }

  .slider__slider-content {
    margin-bottom: 0;
  }
}

.testimonial-section--slider,
.testimonial-section--primary {
  &.bg--dark .flickity-prev-next-button {
    background-color: $white;
    border: 0;
    box-shadow: 0 0 5px $color-gray-medium;
    
  &::after {
    background-color: $color-dark;
    }
  }

  &.bg--gray .flickity-prev-next-button {
    background-color: $white;
    border: 0;
    box-shadow: 0 0 5px $color-gray-medium;
    
  &::after {
    background-color: $color-gray;
    }
  }

  .testimonial-section__item-author {
    flex-direction: column;
    text-align: center;

    @include mq($from: s) {
      flex-direction: row;
      text-align: left;
    }
  }
  
  &.bg--gray {
    .flickity-page-dots .flickity-page-dot {
      border: 1px solid $color-gray;    

      &.is-selected {
        background-color: $color-gray;
      }
    }
  }

  &.bg--gradient,
  &.bg--dark {
    .flickity-page-dots .flickity-page-dot {
      border: 1px solid $color-light;    

      &.is-selected {
        background-color: $color-light;
      }
    }
  }

  &.bg--primary {
    .flickity-page-dots .flickity-page-dot {
      border: 1px solid $color-light;    

      &.is-selected {
        background-color: $color-light;
      }
    }

    .flickity-prev-next-button {
      background-color: transparent;
      border: 0;
      
      &::after {
        background-color: $color-primary;
      }
        
      @include mq($from: m) {
        background-color: $color-primary;
        box-shadow: 0 0 5px $color-gray-medium;

        &::after {
          background-color: $color-light;
        }
      }
    }
  }

  &.bg--secondary {
    .flickity-page-dots .flickity-page-dot {
      border: 1px solid $color-light;    

      &.is-selected {
        background-color: $color-light;
      }
    }

    .flickity-prev-next-button {
      background-color: transparent;
      border: 0;
      
      &::after {
        background-color: $color-secondary;
      }
        
      @include mq($from: m) {
        background-color: $color-secondary;
        box-shadow: 0 0 5px $color-gray-medium;

        &::after {
          background-color: $color-light;
        }
      }
    }
  }
  &.bg--primary-light {
    .custom-carousel .flickity-prev-next-button::after {
      background-color: $color-light;
    }
  }
}

