/*******************************************************************************
* Button
*******************************************************************************/
.button {
  @include font-size($font-sizes18);
  @include transition(all, 0.3s, ease-in-out, 0s);
  @include inline-block();
  background-color: $primary-color;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: $white;
  margin: 0;
  outline: 0;
  padding: 8px 15px;
  position: relative;
  white-space: normal;
  z-index: 0;
  
  &::after {
    @include transition(all, 0.3s, ease-in-out, 0s);
    background-color: $dark-blue-color;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-color;
    color: $white;
    
    &::after {
      height: 100%;
    }
  }
}

button:focus {
  outline: none;
}

.button.button--secondary {
  background-color: $secondary-color;

  &::after {
    background-color: $primary-color;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $secondary-color;
    color: $white;
  }
}

.button.button--light {
  background-color: $white;
  color: $text-color;

  &::after {
    background-color: $primary-color;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $white;
    color: $white;
  }
}

.button.button--outline {
  background-color: $white;
  border: 2px solid $primary-color;
  color: $primary-color;

  &::after {
    background-color: $primary-color;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $white;
    color: $white;
  }
}

.button {
  @include media-breakpoint-up(sm) {
    padding: 9px 25px;
  }

  @include media-breakpoint-up(lg) {
    padding: 9px 20px;
  }

  @include media-breakpoint-up(xl) {
    padding: 9px 25px;
  }
}

@include media-breakpoint-up(xl) {
  .button.button--lg {
    padding: 15px 50px;
  }
}

// All Button Variations
.btn {
  @include font-size($font-sizes16);
  align-items: center;
  background-color: $orange-color;
  border: 2px solid $orange-color;
  border-radius: 0;
  box-shadow: none;
  color: $white;
  display: inline-flex;
  font-weight: $bold-weight;
  margin: 0;
  outline: 1px solid;
  outline-color: transparent;
  outline-offset: 2px;
  padding: 10px 30px;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  white-space: normal;

  &:hover,
  &:active,
  &.active,
  &.show,
  &:focus,
  &:focus,
  &:first-child:active {
    background-color: $orange-hover-color;
    border-color: $orange-hover-color;
    box-shadow: none;
    color: $white;
  }

  &:focus-visible {
    background-color: $orange-hover-color;
    border-color: $orange-hover-color;
    box-shadow: none;
    color: $white;
    outline: 1px solid;
    outline-color: $orange-hover-color;
  }

  &:first-child:active:focus-visible {
    box-shadow: none;
  }

  &-white {
    background-color: $white;
    border: 2px solid $white;
    color: $text-color;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: $white;
      border-color: $white;
      color: $text-color;

      &.btn-link {
        background-color: transparent;
        color: $white;
      }

      &.btn-outline {
        background-color: $white;
        border-color: $white;
        color: $text-color;

        &.btn-arrow {
          &::after {
            color: $text-color;
          }
        }
      }
    }

    &:focus-visible {
      background-color: $white;
      border-color: $white;
      color: $text-color;;
      outline-color: $white;

      &.btn-link {
        background-color: transparent;
        color: $white;
      }
    }

    &.btn-external,
    &.btn-arrow {
      &::after {
        color: $text-color;
      }

      &.btn-outline {
        &::after {
          color: $white;
        }
      }

      &.btn-link {
        &::after {
          color: $white;
        }
      }
    }

    &.btn-link {
      background-color: transparent;
      color: $white;

      &::after {
        color: $white;
      }
    }

    &.btn-outline {
      color: $white;
    }
  }

  &-dark {
    background-color: $text-color;
    border: 2px solid $text-color;
    color: $white;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: $text-color;
      border-color: $text-color;
      color: $white;

      &.btn-link {
        background-color: transparent;
        color: $text-color;
      }

      &.btn-outline {
        background-color: $text-color;
        border-color: $text-color;
        color: $white;

        &.btn-arrow,
        &.btn-external {
          &::after {
            color: $white;
          }
        }
      }
    }

    &:focus-visible {
      background-color: $text-color;
      border-color: $text-color;
      color: $white;;
      outline-color: $text-color;

      &.btn-link {
        background-color: transparent;
        color: $text-color;
      }
    }

    &.btn-arrow,
    &.btn-external {
      &::after {
        color: $white;
      }

      &.btn-outline {
        &::after {
          color: $text-color;
        }
      }

      &.btn-link {
        &::after {
          color: $text-color;
        }
      }
    }

    &.btn-link {
      background-color: transparent;
      color: $text-color;

      &::after {
        color: $text-color;
      }
    }

    &.btn-outline {
      color: $text-color;
    }
  }

  &-green {
    background-color: $green-color;
    border: 2px solid $green-color;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: $green-hover-color;
      border-color: $green-hover-color;
    }

    &:focus-visible {
      background-color: $green-hover-color;
      border-color: $green-hover-color;
      outline-color: $green-hover-color;
    }

    &.btn-arrow,
    &.btn-external {
      &::after {
        color: $white;
      }

      &.btn-outline,
      &.btn-link {
        &::after {
          color: $green-color;
        }
      }
    }
  }

  &-blue {
    background-color: $blue-color;
    border: 2px solid $blue-color;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: $blue-hover-color;
      border-color: $blue-hover-color;
    }

    &:focus-visible {
      background-color: $blue-hover-color;
      border-color: $blue-hover-color;
      outline-color: $blue-hover-color;
    }

    &.btn-arrow,
    &.btn-external {
      &::after {
        color: $white;
      }

      &.btn-outline,
      &.btn-link {
        &::after {
          color: $blue-color;
        }
      }
    }
  }

  &-darkblue {
    background-color: $dark-blue-color;
    border: 2px solid $dark-blue-color;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: $blue-hover-color;
      border-color: $blue-hover-color;
    }

    &:focus-visible {
      background-color: $blue-hover-color;
      border-color: $blue-hover-color;
      outline-color: $blue-hover-color;
    }

    &.btn-arrow,
    &.btn-external {
      &::after {
        color: $white;
      }

      &.btn-outline,
      &.btn-link {
        &::after {
          color: $blue-color;
        }
      }
    }
  }

  &-lila {
    background-color: $lila-color;
    border: 2px solid $lila-color;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: $lila-hover-color;
      border-color: $lila-hover-color;
    }

    &:focus-visible {
      background-color: $lila-hover-color;
      border-color: $lila-hover-color;
      outline-color: $lila-hover-color;
    }

    &.btn-arrow,
    &.btn-external {
      &::after {
        color: $white;
      }

      &.btn-outline,
      &.btn-link {
        &::after {
          color: $lila-color;
        }
      }
    }
  }

  &-pink {
    background-color: $pink-color;
    border: 2px solid $pink-color;
    color: $text-color;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: $pink-hover-color;
      border-color: $pink-hover-color;
      color: $text-color;
    }

    &:focus-visible {
      background-color: $pink-hover-color;
      border-color: $pink-hover-color;
      color: $text-color;
      outline-color: $pink-hover-color;
    }

    &.btn-arrow,
    &.btn-external {
      &::after {
        color: $text-color;
      }

      &.btn-outline,
      &.btn-link {
        &::after {
          color: $pink-color;
        }
      }
    }
  }

  &-lightblue {
    background-color: $light-blue-color;
    border: 2px solid $light-blue-color;
    color: $text-color;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: $light-blue-hover-color;
      border-color: $light-blue-hover-color;
      color: $text-color;
    }

    &:focus-visible {
      background-color: $light-blue-hover-color;
      border-color: $light-blue-hover-color;
      color: $text-color;
      outline-color: $light-blue-hover-color;
    }

    &.btn-arrow,
    &.btn-external {
      &::after {
        color: $text-color;
      }

      &.btn-outline,
      &.btn-link {
        &::after {
          color: $light-blue-color;
        }
      }
    }
  }

  &-yellow {
    background-color: $yellow-color;
    border: 2px solid $yellow-color;
    color: $text-color;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: $yellow-hover-color;
      border-color: $yellow-hover-color;
      color: $text-color;
    }

    &:focus-visible {
      background-color: $yellow-hover-color;
      border-color: $yellow-hover-color;
      color: $text-color;
      outline-color: $yellow-hover-color;
    }

    &.btn-arrow,
    &.btn-external {
      &::after {
        color: $text-color;
      }

      &.btn-outline,
      &.btn-link {
        &::after {
          color: $yellow-color;
        }
      }
    }
  }

  &-lightgreen {
    background-color: $light-green-color;
    border: 2px solid $light-green-color;
    color: $text-color;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: $light-green-hover-color;
      border-color: $light-green-hover-color;
      color: $text-color;
    }

    &:focus-visible {
      background-color: $light-green-hover-color;
      border-color: $light-green-hover-color;
      color: $text-color;
      outline-color: $light-green-hover-color;
    }

    &.btn-arrow,
    &.btn-external {
      &::after {
        color: $text-color;
      }

      &.btn-outline,
      &.btn-link {
        &::after {
          color: $light-green-color;
        }
      }
    }
  }

  &-outline {
    background-color: transparent;
    color: inherit;
    font-weight: $medium-weight;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: transparent;
      color: inherit;
    }

    &:focus-visible {
      background-color: transparent;
      color: inherit;
    }
  }

  &-link {
    background-color: transparent;
    border: 0;
    color: $text-color;
    font-weight: $medium-weight;
    padding: 0;

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      background-color: transparent;
      color: inherit;

      &.btn-arrow,
      &.btn-external {
        &::after {
          right: 2px;
        }
      }
    }

    &:focus-visible {
      background-color: transparent;
      color: $text-color;
    }

    &.btn-arrow,
    &.btn-external {
      padding-right: 25px;

      &::after {
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.btn-external {
      padding-right: 35px;
    }
  }

  &-arrow,
  &-external {
    padding-right: 45px;

    &::after {
      background-color: currentColor;
      color: $white;
      content: '';
      height: 18px;
      mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzIwIDUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNi4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTI3OC42IDIzMy40YzEyLjUgMTIuNSAxMi41IDMyLjggMCA0NS4zbC0xNjAgMTYwYy0xMi41IDEyLjUtMzIuOCAxMi41LTQ1LjMgMHMtMTIuNS0zMi44IDAtNDUuM0wyMTAuNyAyNTYgNzMuNCAxMTguNmMtMTIuNS0xMi41LTEyLjUtMzIuOCAwLTQ1LjNzMzIuOC0xMi41IDQ1LjMgMGwxNjAgMTYweiIvPjwvc3ZnPg==);
      mask-position: center;
      position: absolute;
      right: 26px;
      top: 11px;
      transition: all 0.3s ease 0s;
      width: 11px;
    }

    &.btn-outline,
    &.btn-link {
      &::after {
        color: inherit;
      }
    }

    &:hover,
    &:active,
    &:focus,
    &.active,
    &.show,
    &:first-child:active {
      &::after {
        right: 20px;
      }
    }
  }

  &-external {
    padding-right: 50px;

    &::after {
      content: '\f08e';
    }
  }
}