//****************************************************************************
//  Bootsrap variables overrides
//***************************************************************************/
$font-family-sans-serif: 'stolzl', 'Poppins', Arial, sans-serif;
$font-primary: $font-family-sans-serif;
$font-secondary: 'Playfair Display', $font-family-sans-serif;
$font-tertiary: 'stolzl', $font-family-sans-serif;
$font-quincy: 'Quincy', $font-family-sans-serif;
$font-poppins: 'Poppins', $font-family-sans-serif;
$btn-box-shadow: none;

//****************************************************************************
//  Custom variables
//***************************************************************************/
:root {
  // --primary-color: #ff5c35;
  // --primary-color: #5c2ede;
  --primary-color: #7d2ae8;
  --secondary-color: #ff5c35;
  // --secondary-color: #2e475d;
  --tertiary-color: #053f5c;
  --text-color: #213343;
  --gray-color: #eaf0f6;
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);
$text-color: var(--text-color);
$gray-color: var(--gray-color);
$primary-light-color: #fef4ea;
$text-light-color: #4e6177;
$light-color: #f5f5f5;
$dark-color: #151515;
$medium-gray-color: #808080;
$dark-gray-color: #505050;
$body-color: #fefafa;
$gradient-bg: radial-gradient(93.21% 322.59% at 1.42% 4.44%,#00c4cc 0,#5a32fa 52.5%,#7d2ae8 100%) center 0 no-repeat;
$orange-color: #ed6a13;
$green-color: #036248;
$blue-color: #0e88ca;
$dark-blue-color: #005489;
$lila-color: #8e3684;
$pink-color: #f0c6d7;
$light-blue-color: #b3d6e9;
$yellow-color: #ffd743;
$light-green-color: #c8d44b;
$grey-color: #f9f9f9;
$dark-grey-color: #dedede;
$violet-color: #5c2ede;
$primary-hover-color: #5b18b3;
$orange-hover-color: #d45f11;
$green-hover-color: #024735;
$blue-hover-color: #0c77b0;
$lila-hover-color: #752D6D;
$yellow-hover-color: #f2cb3f;
$light-green-hover-color: #bcc746;
$light-blue-hover-color: #A9C9DB;
$pink-hover-color: #e3bccc;

//****************************************************************************
//  Font Weight
//***************************************************************************/
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semi-bold-weight: 600;
$bold-weight: 700;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1440px,
  xxxl: 1920px
);

$grid-gutter-width: 15px;

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "156x85": calc(85 / 156 * 100%),
  "412x341": calc(341 / 412 * 100%),
  "200x164": calc(164 / 200 * 100%),
  "409x387": calc(387 / 409 * 100%),
  "572x405": calc(405 / 572 * 100%)
);