.card-section {
    background-color: rgba($light-blue-color, 0.2);

    .g-4 {
        --bs-gutter-y: 1.8rem;
        --bs-gutter-x: 1.8rem;
    }

    .card-teaser {
        align-items: center;
        align-items: flex-start;
        background-color: $white;
        border: 1px solid rgba($dark-blue-color, 0.1);
        box-shadow: 0 3px 22px -1px rgba($dark-blue-color, 0.1);
        column-gap: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        justify-content: space-between;
        padding: 30px 20px;
        position: relative;
        transition: all 0.3s ease 0s;

        &__content p {
            @include font-size($font-sizes16);
            color: $text-light-color;
            font-family: $font-poppins;
        }

        &__image img {
            margin-bottom: 15px;
            max-width: 80px;

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
                max-width: 100%;
            }
        }

        &::after {
            background: $gradient-bg;
            bottom: 0;
            content: '';
            height: 0;
            left: 0;
            position: absolute;
            transition: all 0.3s ease 0s;
            width: 100%;
        }

        &:hover,
        &:focus-visible {
            transform: translateY(-10px);

            &::after {
                height: 10px;
            }
        }

        @include media-breakpoint-up(md) {
            align-items: center;
            flex-direction: row;
            padding: 30px;
        }

        @include media-breakpoint-up(lg) {
            padding: 50px;
        }
    }

    .modal-fullscreen {
        height: 80%;
        margin: 1.75rem auto auto;
        width: 80vw;
    }
}