.card {
  background-color: transparent;
  border: 0;
  // Set important to overwrite data-aos trasition-property for hover (box-shadow) transition.
  transition: all 0.3s ease 0s, transform 0.8s !important;

  &.card--small {
    text-align: center;
  }

  &.card--list {
    padding-top: 4rem;
  }

  &:hover .card__headline {
    color: inherit;
  }

  &:hover {
    box-shadow: 0 32px 54px rgba($color-gray-medium, 0.2);
  }

  &.card--border {
    border: 1px solid $color-gray-light;
    
    .bg--dark & {
      border: 1px solid $color-gray-dark;
    }
  }

  &.card--grey {
    background-color: $color-gray-xlight;
  }

  &.card--dark {
    background-color: $color-dark;

    .card__text * {
      color: $white;
    }

    &:hover {
      box-shadow: 0 32px 54px rgba($black, 0.6);
    }
  }

  .card__image {
    width: 100%;
  }

  .card__content {
    width: 100%;
  }
}

.card--list .card__link {
  font-weight: $font-weight-bold;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  &::after {
    border: solid $color-cyan;
    border-width: 0 0.2rem 0.2rem 0;
    content: '';
    display: inline-block;
    margin-top: 1rem;
    padding: 0.3rem;
    position: absolute;
    right: 1.5rem;
    transform: rotate(-45deg);
  }
}

.card--small {
  .tag {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }
}

.card--tiny {
  .card__content {
    position: relative;
  }

  .card__tag {
    left: 0;
    position: absolute;
    top: -2.2rem;
    z-index: 2;
  }
}

.card__content {
  padding: 2rem 1.5rem 1.5rem;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding-bottom: 1rem;
  }

  &:hover {   
    .js-overlay-link {
      translate: 0 -5px;
    }
  }

  .card__text {
    margin-bottom: 3rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 4.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 2rem 2.5rem 1.5rem;
  }
}

.card__tag {
  display: inline-block;
  padding-right: 1rem;
  vertical-align: middle;
}

.card__kicker {
  display: inline-block;
  vertical-align: middle;
}

.card__headline {
  display: block;
  padding: 1.5rem 0 1rem;
  width: 100%;
}

.card__link {
  .link {
    color: $color-primary;
  }
}

.card {
  border-radius: 0;
}