<section id="c{data.uid}" class="content-section card-section{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
    <div class="{f:if(condition: '{data.tx_mask_container_fluid}', then: 'container-fluid', else: 'container')}">
        <div class="card {data.tx_mask_card_style}" data-aos="{data.tx_mask_animation}">
            <f:if condition="{data.image}">
                <f:for each="{data.image}" as="file">
                    <div class="card__image">
                        <f:if condition="{file.link}">
                            <f:then>
                                <f:link.typolink class="image" parameter="{file.link}">
                                    <f:render section="image" arguments="{_all}" />
                                </f:link.typolink>
                            </f:then>
                            <f:else>
                                <div class="image">
                                    <f:render section="image" arguments="{_all}" />
                                </div>
                            </f:else>
                        </f:if>
                    </div>
                </f:for>
            </f:if>
            <div class="card__content">
                <f:if condition="{data.bodytext}">
                    <div class="card__text">
                        {data.bodytext -> f:format.html()}
                    </div>
                </f:if>
                <f:if condition="{data.tx_mask_link} && {data.tx_mask_link_text}">
                    <div class="card__link">
                        <f:link.typolink additionalAttributes="{data-overlay-target:'card__content'}" parameter="{data.tx_mask_link}" class="js-overlay-link button {data.tx_mask_button} {data.tx_mask_button_icon} {data.tx_mask_button_type}">{data.tx_mask_link_text}</f:link.typolink>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</section>

<f:section name="image">
    <picture>
        <source srcset="{f:uri.image(image: '{file}', cropVariant: 'default')}" media="(min-width: 992px)">
        <source srcset="{f:uri.image(image: '{file}', cropVariant: 'specialTablet')}" media="(min-width: 768px)">
        <img src="{f:uri.image(image: '{file}',cropVariant: 'specialMobile')}" alt="{file.alternative}" title="{file.title}" width="{file.properties.width}" height="{file.properties.height}">
    </picture>
</f:section>