<section class="content-section">
    <div class="{f:if(condition: '{data.tx_mask_container_fluid}', then: 'container-fluid', else: 'container')}">
        <f:if condition="{data.tx_mask_alert_bg_color}">
            <div id="c{data.uid}" class="alert{f:if(condition: '{data.tx_mask_rounded_edge}', then: ' rounded-10')} {data.tx_mask_alert_bg_color} {data.tx_mask_alert_style} {f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}" data-aos="{data.tx_mask_animation}">
                <div class="alert-wrapper">
                    <f:if condition="{data.tx_mask_icons_items}">
                        <f:for each="{data.tx_mask_icons_items}" as="item" iteration="i">
                            <span class="alert__indication-icon"><i class="{item}"></i></span>
                        </f:for>
                    </f:if>
                    <f:if condition="{data.bodytext}">
                        <div class="alert__text">{data.bodytext -> f:format.html()}</div>
                    </f:if>
                </div>
            </div>
        </f:if>
    </div>
</section>
