.cta-section {
  background-size: cover;
  position: relative;
  
  &.dark--overlay { 
   &::before { 
    background-color: rgba(0, 0, 0, 0.3);   
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
   } 
  }

  &.light--overlay { 
    &::before { 
      background-color: rgba(255, 255, 255, 0.3);
      content: '';
      height: 100%;      
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    } 
  }

  .button,
  p:last-of-type {
    margin-bottom: 0;
  }

  &-wrapper {
    position: relative;
  }
}

.cat-section__content {
  padding: 3.5rem 0 4rem;  

  @include mq($from: m) {
    padding: 6rem 2rem 5rem;
  }
  @include mq($from: l) {
    padding: 7rem 0 6rem;
  }
  @include mq($from: xl) {
    padding: 10rem 0 9rem;
  }
}

.dark { 
  .cta-section.bg--gray { 
    *:not(.button) { 
      color: $black;
    }
  }
}
