<f:if condition="{data.tx_mask_bg_image}">
    <f:for each="{data.tx_mask_bg_image}" as="file">
        <f:variable name="bgImg">{f:uri.image(image: '{file}')}</f:variable>        
    </f:for>
</f:if>

<f:if condition="{data.bodytext} || {bgImg}">
    <section class="cta-section {f:if(condition: '{data.tx_mask_rounded_edge}', then: ' rounded-10')} js-lazyload {f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')} {data.tx_mask_overlay}" data-aos="{data.tx_mask_animation}" data-bg="{bgImg}">
        <div class="cta-section-wrapper {data.tx_mask_background_color}">
            <div class="container">
                <div class="row py-5 align-items-center">                
                        <div class="col-12 {f:if(condition: '{data.tx_mask_link} && {data.tx_mask_link_text}', then: 'mb-5 mb-md-0 col-md-8 col-lg-9')} py-md-4">
                            <f:format.html>{data.bodytext}</f:format.html>
                        </div>                
                    <f:if condition="{data.tx_mask_link} && {data.tx_mask_link_text}">
                        <div class="col-12 col-md-4 col-lg-3 py-md-4 text-md-center">
                            <f:link.typolink parameter="{data.tx_mask_link}" title="{data.tx_mask_link_text}" class="button {data.tx_mask_button} {data.tx_mask_button_icon}{f:if(condition: '{data.tx_mask_button_type} == default', else: ' {data.tx_mask_button_type}')}">{data.tx_mask_link_text}</f:link.typolink>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </section>
</f:if>
