/****************************************************
Header
****************************************************/
.app-header {
  // background: linear-gradient(154.77deg, rgba(0, 147, 121, 0.1), rgba(229, 244, 242, 0.5) 52.39%);
  position: sticky;
  top: 0;
  transition: all 0.4s ease-in-out 0s;
  
  &,
  .brand-logo,
  .menu-trigger-btn {
    z-index: 999;
  }
  
  &.scrolled-down {
    transform: translateY(-35px);
  }

  &.scrolled {
    background-color: $white;
    transform: translateY(0);
  }

  .app-header-main {
    background-color: $white;
    box-shadow: 0 2px 4px rgba(33, 51, 67, .12);
    transition: all 0.4s ease-in-out 0s;
  }

  .app-header-button {
    align-items: center;
    display: flex;

    @include media-breakpoint-up(md) {
      align-items: center;
      display: inline-flex;
    }
  }

  .button {
    @include font-size($font-sizes16);
    
    @include media-breakpoint-up(sm) {
      @include font-size($font-sizes18);
    }
  }
}

body.menu--open {
  overflow: hidden;
  position: relative;

  &::after {
    background-color: rgba(33,51,67,0.7);
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.6s ease-in-out;
    width: 100%;
  }
}

.app-header-top {
  background: $gradient-bg;

  &-wrapper {
    display: flex;
    justify-content: space-between;

    li {
      border-left: 0;
      border-right: 1px solid rgba($gray-color, 0.2);
      
      &:last-child {
        border-right: 0;
      }

      a {
        display: block;
        padding: 0.5rem 0.8rem 0.4rem;

        &:hover {
          background-color: $white;
          color: $text-color;
        }
      }
      
      @include media-breakpoint-up(md) {
        border-left: 1px solid rgba($gray-color, 0.2);
        border-right: 0;
        
        &:last-child {
          border-right: 1px solid rgba($gray-color, 0.2);
        }
      }
    }
  }

  ul li a {
    color: $white;
    font-weight: $regular-weight;

    i.bi {
      vertical-align: bottom;
    }
  }

  .container-full {  
    padding-left: 5px;
    padding-right: 5px;
    
    @include media-breakpoint-up(lg) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.app-header-main-teaser {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 70px;

  .brand-logo {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    
    svg {
      max-width: 150px;
      width: 100%;

      text {
        transition: all 0.3s ease 0s;
        transition-delay: 0.3s;
      }
      
      @include media-breakpoint-up(md) {
        max-width: 180px;
      }

      @include media-breakpoint-up(lg) {
        max-width: 150px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 180px;
      }
    }

  }
}

.navigation {
  @include media-breakpoint-down(lg) {
    backdrop-filter: blur(50px);
    background-color: $white;
    height: 100vh;
    height: 100dvh;
    left: -100%;
    overflow: hidden;
    padding-top: 125px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 99;
    
    &.is-open {
      left: 0;
      pointer-events: auto;
      visibility: visible;
      
      .navigation-list {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}

.navigation-list {
  a {
    color: $text-color;
  }

  .navigation-list__item {
    border-bottom: 1px solid #ccc;

    .menu-link {
      @include font-size($font-sizes24);
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #00c4cc, $primary-color 50%, $text-color 50%);
      background-position: -100%;
      background-size: 200% 100%;
      display: inline-block;
      line-height: 30px;
      padding: 15px 18px;
      position: relative;
      -webkit-text-fill-color: transparent;
      transition: all 0.6s ease-in-out;

      &.menu-link--orange {
        background-image: linear-gradient(to right, $secondary-color, $secondary-color 50%, $text-color 50%);

        @include media-breakpoint-up(lg) {
          &::before {
            background: $secondary-color;
          }
        }
      }

      &.menu-link--blue {
        background-image: linear-gradient(to right, $blue-color, $blue-color 50%, $text-color 50%);

        @include media-breakpoint-up(lg) {
          &::before {
            background: $blue-color;
          }
        }
      }

      &.menu-link--lila {
        background-image: linear-gradient(to right, $lila-color, $lila-color 50%, $text-color 50%);

        @include media-breakpoint-up(lg) {
          &::before {
            background: $lila-color;
          }
        }
      }

      &.menu-link--yellow {
        background-image: linear-gradient(to right, $yellow-color, $yellow-color 50%, $text-color 50%);

        @include media-breakpoint-up(lg) {
          &::before {
            background: $yellow-color;
          }
        }
      }

      &.menu-link--light-green {
        background-image: linear-gradient(to right, $light-green-color, $light-green-color 50%, $text-color 50%);

        @include media-breakpoint-up(lg) {
          &::before {
            background: $light-green-color;
          }
        }
      }

      &:hover {
        background-position: 0;
      }

      @include media-breakpoint-up(lg) {
        &::before {
          background: $gradient-bg;
          content: "";
          display: block;
          height: 4px;
          left: 0;
          position: absolute;
          right: 0;
          bottom: 0;
          transition: all 0.4s ease-in-out;
          width: 0;
          margin: auto;
        }

        &:hover {
          &::before {
            // left: 0;
            // right: auto;
            width: 100%
          }
        }
      }

      @include media-breakpoint-up(lg) {
        @include font-size($font-sizes18);
      }
    }

    @include media-breakpoint-up(lg) {
      border-bottom: 0;
      margin-left: 0px;
    }
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: center;
  }
}

// Menu Trigger
.menu-trigger-btn {
  display: inline-block;
  margin-left: 1rem;
  padding: 11.8px 0 11.8px 8px;

  .bar {
    background-color: $text-color;
    content: '';
    display: block;
    height: 3px;
    margin: auto;
    transition: all 0.4s ease 0s;
    width: 32px;

    & + .bar {
      margin-top: 6px;
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.is-open {
  &.menu-trigger-btn .bar {
    &:first-child {
      transform: translate(0, 9px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
      width: 0;
    }

    &:last-child {
      transform: translate(0, -9px) rotate(-45deg);
    }
  }
}

.mega-submenu li a {
  border-radius: 5px;
  display: block;
  line-height: 30px;
  margin-bottom: 1px;
  padding: 5px 15px;
  
  &:hover {
    background-color: $primary-color;
    color: $light-color;
  }
  
  @include media-breakpoint-up(lg) {
    padding-inline: 0;
    transition: all 0.4s ease 0s;

    &:hover {
      background-color: rgba($dark-color, 0.1);
      color: $text-color;
      padding-left: 10px
    }
  }
}

.mega-title {
  @include font-size($font-sizes18);
  color: $text-color;
  display: block;
  font-family: $font-tertiary;
  font-weight: $medium-weight;
  margin: 10px 0 0;
  
  @include media-breakpoint-up(lg) {
    margin: 0 0 15px;
  }
}

.app-header-main-teaser__wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.navigation-list__item.is-mega-menu button.menu-link {
  border: 0;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  width: 96%;
}

.dropdown-megamenu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  visibility: hidden;

  &.submenu-is-open {
    max-height: 2000px;
    opacity: 1;
    overflow: visible;
    visibility: visible;
  }

  &__content {
    padding-left: 26px;

    @include media-breakpoint-up(lg) {
      padding-left: 0;
    }    
  }
}

@include media-breakpoint-up(lg) {
  li.is-mega-menu {
    position: static;

    &:hover > {
      .dropdown-megamenu {
        max-height: 900px;
        opacity: 1;
        overflow: visible;
        pointer-events: auto;
        top: 100%;
        visibility: visible;
      }

      .menu-link {
        background-position: 0;

        &::before {
          width: 100%;
        }
      }
    }
  }

  .navigation-list__item.is-mega-menu button.menu-link {
    width: auto;
  }

  .dropdown-megamenu {
    backdrop-filter: blur(30px);
    background-color: rgba($white, 0.5);
    // border-top: 2px solid $primary-color;
    // background-color: $white;
    box-shadow: 0 0px 32px 10px rgba(33,51,67,0.2);
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -100%;
    transition: all 0.4s ease-in-out;
    visibility: hidden;
    width: auto;
    z-index: -1;

    > li {
      margin: auto;
      max-width: 1200px;
      padding: 50px 20px;
    }
  }

  .mega-submenu li a {
    color: $dark-gray-color;
    display: block;
  }

  .navigation .bi-chevron-down {
    display: none;
  }
}