<f:switch expression="{data.tx_mask_slider_variation}">
    <f:case value="slider--portfolio">
        <f:render partial="Slider/Portfolio" arguments="{_all}" />
    </f:case>
    <f:case value="slider--teaser">
        <f:render partial="Slider/CardSlider" arguments="{_all}" />
    </f:case>
    <f:case value="slider--carousel">
        <f:render partial="Slider/Carousel" arguments="{_all}" />
    </f:case>
    <f:case value="slider--mockup">
        <f:render partial="Slider/Mockup" arguments="{_all}" />
    </f:case>
    <f:case value="slider--logo">
        <f:render partial="Slider/BrandLogo" arguments="{_all}" />
    </f:case>
    <f:case value="slider--image-text">
        <f:render partial="Slider/TextAndImage" arguments="{_all}" />
    </f:case>
    <f:case value="slider--bg-img">
        <f:render partial="Slider/CarouselWithBackground" arguments="{_all}" />
    </f:case>
</f:switch>